<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- Header with a colored block -->
  <header>
    <div class="top-banner">
      <h1>Welcome to the Homepage of Saidur Pavel</h1>
    </div>
    <!-- Navigation Tabs -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About me</a></li>
        <li><a href="/publications.html">Publications</a></li>
      </ul>
    </nav>
  </header>

  <!-- Main Content -->
  <main>
    {{ content }}
  </main>

  <!-- Footer -->
  <footer>
    <p>&copy; 2025 Saidur Pavel</p>
  </footer>
</body>
</html>
